<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "de.timsp.sudoku"
    version     = "0.1.2" >

  <plugin name="org.apache.cordova.statusbar" spec="0.1.4" source="pgb" />

  <name>Sudoku</name>

  <description>
      A fully configurable sudoku game.
  </description>

  <author href="http://timsp.de" email="sudoku@timsp.de">
      Tim Spickermann
  </author>

  <preference name="BackgroundColor" value="0xffeeeeee"/>
  <preference name="StatusBarOverlaysWebView" value="true" />

  <splash src="res/splash.png" />

  <platform name="android">
    <icon src="res/mipmap-mdpi/ic_launcher.png" density="mdpi" />
    <icon src="res/mipmap-hdpi/ic_launcher.png" density="hdpi" />
    <icon src="res/mipmap-xhdpi/ic_launcher.png" density="xdpi" />
    <icon src="res/mipmap-xxhdpi/ic_launcher.png" density="xxhdpi" />
    <icon src="res/mipmap-xxxhdpi/ic_launcher.png" density="xxxhdpi" />

    <preference name="InAppBrowserStorageEnabled" value="false"/>
    <preference name="LoadingDialog" value="Sudoku,Sudoku wird geladen"/>
    <preference name="OverrideUserAgent" value="Mozilla/5.0 My Browser" />
    <preference name="AppendUserAgent" value="My Browser" />
  </platform>

</widget>
