<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "de.timsp.sudoku"
    version     = "0.2.0" >

  <plugin name="cordova-plugin-statusbar" spec="2.2.3" />

  <name>Sudoku</name>

  <description>
      Sudoku mit variabler Größe, verschiedenen Symbolen, Hinweisen, Bestzeiten und vielem mehr.
  </description>

  <author href="http://timsp.de" email="sudoku@timsp.de">
      Tim Spickermann
  </author>

  <preference name="BackgroundColor" value="0xffeeeeee"/>
  <preference name="StatusBarBackgroundColor" value="#eeeeee" />

  <splash src="res/splash.png" />
  <splash src="res/splash.png" platform="android" />
  <preference name="SplashScreenDelay" value="2000" />

  <platform name="android">
    <icon src="res/mipmap-mdpi/ic_launcher.png" density="mdpi" />
    <icon src="res/mipmap-hdpi/ic_launcher.png" density="hdpi" />
    <icon src="res/mipmap-xhdpi/ic_launcher.png" density="xdpi" />
    <icon src="res/mipmap-xxhdpi/ic_launcher.png" density="xxhdpi" />
    <icon src="res/mipmap-xxxhdpi/ic_launcher.png" density="xxxhdpi" />

    <preference name="InAppBrowserStorageEnabled" value="false"/>
    <preference name="LoadingDialog" value="Sudoku,Sudoku wird geladen"/>
    <preference name="OverrideUserAgent" value="Mozilla/5.0 Sudoku Android App" />
    <preference name="AppendUserAgent" value="Sudoku Android App" />
  </platform>

</widget>
